html {
  background-image: url(/Users/luisleh/Devacademy/Workspace/Images/DavaoByLesterCasio.jpg);
  max-width: 100%;
  position: auto;
}

header {
  text-align: center;
}

body {
  text-align: justify;
}
