html {
  background-color:teal;
  font-family: cursive;
  color:goldenrod;
}

header {
  text-align: center;
  background-color:whitesmoke;
  color:teal;
  font-size: 20px;
}

body {
  text-align: justify;
}
